<ion-header>
  <ion-toolbar>
    <ion-title>
      MyFamily
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card (click)="itemSelected('all')">
      <ion-card-header>
        All
      </ion-card-header>
      
      <ion-card-content>
        View All Family Members
      </ion-card-content>
      
    </ion-card>

    <ion-card>
      <ion-card-header>
        Total Living Members
      </ion-card-header> 

      <ion-card-content>
        {{livingMembers}}
      </ion-card-content>
      
    </ion-card>

    <ion-card>
      <ion-card-header>
        Total Members
      </ion-card-header> 

      <ion-card-content>
        {{totalMembers}}
      </ion-card-content>
      
    </ion-card>

</ion-content>
